# анализ данные о результатах экзаменов по математике, чтению и письму среди студентов

In [23]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep = ';')

## gender — пол; race/ethnicity — раса/этническая принадлежность; parental level of education — уровень образования родителей; lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный); test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал); math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

### Данные о скольких студентах содержатся в таблице?

In [2]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                --------------  -----
 0   gender,"race/ethnicity","parental level of education","lunch","test preparation course","math score","reading score","writing score"  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

### Каков балл по письму у студента под индексом 155?

In [25]:
display(student_data)

    gender,"race/ethnicity","parental level of education","lunch","test preparation course","math score","reading score","writing score"
0    female,"group B","bachelor's degree","standard...
1    female,"group C","some college","standard","co...
2    female,"group B","master's degree","standard",...
3    male,"group A","associate's degree","free/redu...
4    male,"group C","some college","standard","none...
..                                                 ...
995  female,"group E","master's degree","standard",...
996  male,"group C","high school","free/reduced","n...
997  female,"group C","high school","free/reduced",...
998  female,"group D","some college","standard","co...
999  female,"group D","some college","free/reduced"...

[1000 rows x 1 columns]