# анализ данные о результатах экзаменов по математике, чтению и письму среди студентов

In [8]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep = ',')

## gender — пол; race/ethnicity — раса/этническая принадлежность; parental level of education — уровень образования родителей; lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный); test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал); math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [26]:
student_data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Данные о скольких студентах содержатся в таблице?

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Каков балл по письму у студента под индексом 155?

In [12]:
display(student_data['writing score'].iloc[155])

88

### Сколько суммарно пропущенных значений в таблице

In [18]:
display(student_data.isnull().sum().sum())

0

### Каков у студентов средний балл по математике? Округлите ответ до целого числа.

In [23]:
display(round (student_data['math score'].mean(), 0))

66.0

### Какая расовая группа является самой крупной в учебном заведении?

In [25]:
display(student_data['race/ethnicity'].mode())

0    group C
Name: race/ethnicity, dtype: object

### Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам? Округлите ответ до целого числа.

In [34]:
display(round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean(), 0))

74.0

### Сколько студентов получили 0 баллов по математике?

In [35]:
display(student_data[student_data['math score'] == 0].info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 59 to 59
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1 non-null      object
 1   race/ethnicity               1 non-null      object
 2   parental level of education  1 non-null      object
 3   lunch                        1 non-null      object
 4   test preparation course      1 non-null      object
 5   math score                   1 non-null      int64
 6   reading score                1 non-null      int64
 7   writing score                1 non-null      int64
dtypes: int64(3), object(5)
memory usage: 72.0+ bytes

None

### Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием. В качестве ответа напишите наибольший средний балл по математике среди этих групп студ

In [37]:
print(student_data[student_data['lunch'] == 'standard']['math score'].mean() > 
      student_data[student_data['lunch'] == 'free/reduced']['math score'].mean(),
      round(student_data[student_data['lunch'] == 'standard']['math score'].mean(), 0),
      round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean(), 0)
)

True 70.0 59.0

### Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)? Округлите ответ до целого числа.

In [41]:
print(student_data[student_data['parental level of education'] == "bachelor's degree"].info())
print(round(118 * 100 / 1000), 0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 993
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       118 non-null    object
 1   race/ethnicity               118 non-null    object
 2   parental level of education  118 non-null    object
 3   lunch                        118 non-null    object
 4   test preparation course      118 non-null    object
 5   math score                   118 non-null    int64
 6   reading score                118 non-null    int64
 7   writing score                118 non-null    int64
dtypes: int64(3), object(5)
memory usage: 8.3+ KB
None
12 0

### На сколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C? Округлите ответ до целого и запишите модуль этого числа.

In [43]:
display(abs(round(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() 
       - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median(), 0)))

6.0